﻿@{
    ViewData["Title"] = "Call us.";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1121 Avenue Drive<br />
    Maryville, MO 64468 <br />
    <abbr title="Phone"> Phone: </abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@sankarabooks.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@sankarabooks.com</a>
</address>
