﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    @*<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>*@
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/bookstore_logo_color.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p style="color:red; font-size:x-large; text-align:center; text-emphasis:filled;" >
                   Buy books online. HERE! 
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        @*<div class="item">
            <img src="~/images/Banner-02-VS.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/ASP-NET-Banners-02.png" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Banner-01-Azure.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>*@
</div>

<div class="row">
    <div class="col-md-3">
        <h2 style="color:navy">Genres</h2>
        <ul>
            <li>Fiction</li>
            <li>Non-Fiction</li>
            <li>Romance</li>
            <li>SciFi</li>
            <li>Spiritual</li>
            <li>Biographies</li>
            
        </ul>
    </div>
    <div class="col-md-3">
        <h2 style="color:navy">Top Reads</h2>
        <ul>
            <li>Harry Potter series</li>
            <li>See Me</li>
            <li>When Breath becomes Air</li>
            <li>The Apostle: Life of Paul</li>
            <li>Star Wars 7</li>
            <li>I am Malala</li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2 style="color:navy">Shipping and Delivery</h2>
        <ul>
            <li>Free Delivery</li>
            <li>Shipping Areas</li>
            <li>Shipping Rates</li>
           

        </ul>
    </div>
    <div class="col-md-3">
        <h2 style="color:navy">Services</h2>
        <ul>
            <li>About Us</li>
            <li>Contact Us</li>

        </ul>
    </div>
</div>
